@use "../base/colors"as *;
@use "../base/mixins"as *;
@use "../base/typography"as *;
@use "../global/responsive"as *;

.burger__button {
    @include flex(center, center, 8px);
    @include apply-color("pure-white");
    @include font-secondary();
    background: transparent;
    border    : none;
    cursor    : pointer;
    min-height: 52px;
    min-width : 44px;
    transition: .5s ease-in-out;

    @include hover {
        opacity: .5;

        .burger__button-bars {
            background: transparent !important;

            &::before {
                transform: rotate(45deg);
            }

            &::after {
                transform: rotate(-45deg);
            }
        }
    }

    &-visually {
        font-size: get-font-size(18);
    }

    &-bars {
        @include apply-bg-color("pure-white");
        display   : block;
        height    : 2px;
        position  : relative;
        transition: all .25s linear;
        width     : 22px;

        &::after,
        &::before {
            background-color: currentColor;
            content         : "";
            display         : block;
            height          : 100%;
            position        : absolute;
            right           : 0;
            transition      : all .25s linear;
            width           : 100%;
        }

        &::after {
            transform: translate(0, -8px);
        }

        &::before {
            transform: translate(0, 8px);
        }
    }
}

.burger__active {

    .burger__button-bars {
        background: transparent !important;

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }
    }
}

.close__button {
    @include font-secondary();
    @include flex(center, center, 10px);
    @include apply-color("pure-white");
    background: transparent;
    border    : transparent;
    cursor    : pointer;
    font-size : get-font-size(18);
    min-height: 50px;
    min-width : 44px;
    position  : relative;
    transition: .5s ease-in-out;

    @include hover {
        opacity: .5;

        &::after {
            transform: rotate(225deg);
        }

        &::before {
            transform: rotate(135deg);
        }
    }

    &::after,
    &::before {
        background: currentColor;
        content   : "";
        height    : 2px;
        position  : absolute;
        right     : 2px;
        transition: .6s ease-in-out;
        width     : 22px;
    }

    &::after {
        transform: rotate(45deg);

        @include hover {
            transform: translate(-50%, -50%) rotate(225deg);
        }
    }

    &::before {
        transform: rotate(-45deg);
    }
}

.button {
    border        : 2px solid transparent;
    font-size     : get-font-size(14);
    font-weight   : 500;
    padding       : 0.8rem 1.8rem;
    text-transform: uppercase;
    transition    : .5s ease-in-out;
}

.button-red {
    border-color: get-color("red");
    overflow    : hidden;
    position    : relative;
    z-index     : 1;

    @include hover {
        color: get-color("pure-black");

        &::before {
            width: 110%;
        }
    }

    &::before {
        @include apply-bg-color("red");
        content   : "";
        display   : block;
        height    : 300%;
        left      : 50%;
        position  : absolute;
        transform : translate(-50%, -50%) rotate(45deg);
        top       : 50%;
        transition: .5s ease-in-out;
        width     : 0%;
        z-index   : -1;
    }
}

.carousel__button {
    @include apply-color("pure-white");
    @include flex(center, start, 5px);
    border        : none;
    background    : transparent;
    cursor        : pointer;
    font-size     : get-font-size(18);
    text-transform: lowercase;
    padding       : 4px 20px;
    position      : absolute;
    z-index       : 99;

    @include hover {
        &::before {
            width: 100%;
        }
    }

    &::before {
        @include apply-bg-color("red");
        bottom    : 0;
        content   : "";
        height    : 100%;
        left      : 0;
        position  : absolute;
        transition: .5s ease-in-out;
        width     : 50%;
        z-index   : -1;
    }

    span {
        display       : inline-block;
        font-size     : get-font-size(28);
        margin-bottom : 6px;
        vertical-align: middle;
    }

}