@use "../base/mixins"as *;
@use "../base/colors"as *;
@use "../base/typography"as *;
@use "../global/responsive"as *;

.menu {
    width: 100%;

    ul {
        @include flex(center, center);
    }

    &__item {
        display       : inline-block;
        letter-spacing: 2px;
        padding       : .5rem 1rem;
        position      : relative;
        transition    : .3s ease-in-out;
        text-transform: uppercase;

        @include hover {
            transform: scale(1.1);
        }

        img {
            display   : block;
            height    : 40px;
            object-fit: cover;
            width     : 40px;
        }
    }
}