@use "../base/mixins"as *;
@use "../base/colors"as *;
@use "../base/typography"as *;
@use "../global/responsive"as *;

.menu {
    background: orange;
    width     : 100%;

    ul {
        @include flex(center, center);
    }

    &__item {
        display       : inline-block;
        padding       : .5rem 1rem;
        text-transform: uppercase;
    }
}