@use "sass:map";

$theme-colors    : (
    "blue" : #0D47A1, // Azul (Capitão América)
    "dark-gray"  : #424242, // Cinza Escuro (para textos e fundos)
    "green": #4CAF50,
    "yellow"     : #FDD835, // Amarelo (detalhes dos trajes)
    "pure-black" : #000000, // Preto (para textos e fundos)
    "pure-white" : #FFFFFF, // Branco (para contraste e legibilidade)
    "red"        : #C1272D, // Vermelho (Homem de Ferro)
    "silver": #B0BEC5
);

@mixin apply-color($key) {
    @if map.has-key($theme-colors, $key) {
        color: map-get($map: $theme-colors, $key: $key);
    }

    @else {
        @warn "A cor '#{$key}' não está definida em '$theme-colors'.";
    }
}

@mixin apply-bg-color($key) {
    @if map.has-key($theme-colors, $key) {
        background-color: map-get($map: $theme-colors, $key: $key);
    }

    @else {
        @warn "A cor '#{$key}' não está definida em '$theme-colors'.";
    }
}

@function get-color($key) {
    @if map.has-key($theme-colors, $key) {
        @return map-get($map: $theme-colors, $key: $key);
    }

    @else {
        @warn "A cor '#{$key}' não está definida em '$theme-colors'.";
        @return null;
    }
}