@use "sass:math";
@use "sass:map";
@use "../util/functions"as *;

@mixin font-primary() {
   font-family: "Roboto", sans-serif;
}

@mixin font-secondary() {
   font-family   : "Bebas Neue", sans-serif;
   letter-spacing: 1px;
   text-transform: uppercase;
}

@mixin poppins() {
   font-family: "Poppins", sans-serif;
}

@function get-font-size($size) {
   @return px-to-rem($size);
}