/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  display: block;
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

textarea {
  resize: none;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #000000;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

.burger__button {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  background: transparent;
  border: none;
  cursor: pointer;
  min-height: 52px;
  min-width: 44px;
  transition: 0.5s ease-in-out;
}
@media screen and (min-width: 1920px) {
  .burger__button {
    display: none;
  }
}
@media screen and (min-width: 1440px) and (max-width: calc(1920px - 1px)) {
  .burger__button {
    display: none;
  }
}
@media screen and (min-width: 1024px) and (max-width: calc(1440px - 1px)) {
  .burger__button {
    display: none;
  }
}
.burger__button:hover {
  opacity: 0.5;
}
.burger__button-visually {
  font-size: 1rem;
  font-weight: 600;
}
.burger__button-bars {
  background-color: #000000;
  display: block;
  height: 2px;
  position: relative;
  transition: all 0.25s linear;
  width: 22px;
}
.burger__button-bars::after, .burger__button-bars::before {
  background-color: currentColor;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  right: 0;
  transition: all 0.25s linear;
  width: 100%;
}
.burger__button-bars::after {
  transform: translate(0, -8px);
}
.burger__button-bars::before {
  transform: translate(0, 8px);
}

.burger__active .burger__button-bars {
  background: transparent !important;
}
.burger__active .burger__button-bars::before {
  transform: rotate(45deg);
}
.burger__active .burger__button-bars::after {
  transform: rotate(-45deg);
}

.modal {
  color: #FFFFFF;
  background: black;
  height: 100%;
  inset: 0;
  overflow-y: auto;
  opacity: 0;
  position: fixed;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
  visibility: hidden;
  width: 100%;
  z-index: 1000;
}
.modal::-webkit-scrollbar {
  width: 0;
}
.modal__close-button {
  align-items: center;
  display: flex;
  gap: 4px;
  justify-content: center;
  color: #FFFFFF;
  background: transparent;
  border: transparent;
  cursor: pointer;
  font-size: 0.875rem;
  min-height: 42px;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 9999999;
}
.modal__close-button img {
  height: 32px;
  width: 32px;
}

.modal__active {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

.menu {
  width: 100%;
}
.menu ul {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}
.menu__item {
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: inline-block;
  font-size: 1.5rem;
  letter-spacing: 2px;
  line-height: 1.4;
  padding: 0.7rem 1rem;
  position: relative;
  transition: 0.5s ease-in-out;
  text-transform: uppercase;
}
.menu__item:hover {
  transform: scale(1.1);
}
@media screen and (min-width: 768px) and (max-width: calc(1024px - 1px)) {
  .menu__item {
    font-size: 1rem;
  }
}
@media screen and (max-width: calc(768px - 1px)) {
  .menu__item {
    font-size: 1rem;
  }
}
@media screen and (max-width: 480px) {
  .menu__item {
    font-size: 1rem;
  }
}
.menu__item img {
  display: block;
  height: 40px;
  object-fit: cover;
  width: 40px;
}
.menu__icon {
  padding: 0.5rem 1rem;
}
@media screen and (max-width: calc(768px - 1px)) {
  .menu__icon {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
  }
}

.container {
  margin: 0 auto;
  width: 100%;
}
@media screen and (min-width: 1920px) {
  .container {
    max-width: 1600px;
  }
}
@media screen and (min-width: 1440px) and (max-width: calc(1920px - 1px)) {
  .container {
    max-width: 1280px;
  }
}
@media screen and (min-width: 1024px) and (max-width: calc(1440px - 1px)) {
  .container {
    max-width: 960px;
  }
}

.header {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  padding: 1rem 2%;
  position: absolute;
  width: 100%;
  z-index: 9999;
}

.main {
  height: 100%;
  width: 100%;
}

.movies {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  padding: 60px 2% 1rem;
  position: relative;
  transition: 0.5s ease-in-out;
  width: 100%;
}
.movies::before {
  background: url("../images/home-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  content: "";
  height: 100%;
  inset: 0;
  opacity: 0.2;
  position: absolute;
  transition: opacity 1s ease-in-out, background-image 0.5s ease-in-out;
  width: 100%;
}
.movies__cards {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
  position: relative;
  width: 100%;
}

.movie__card {
  border-radius: 0.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: block;
  flex: 1 1 25%;
  filter: grayscale(100%);
  height: 60vh;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

.card__content {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.card__image {
  border-radius: 0.5rem;
  height: 100%;
  object-fit: cover;
}

.card__title {
  bottom: 12px;
  display: block;
  font-size: 1.5rem;
  position: absolute;
  text-transform: uppercase;
  text-align: center;
  transition: 0.5s ease-in-out;
  z-index: 9999;
  width: 100%;
}
@media screen and (max-width: calc(768px - 1px)) {
  .card__title {
    font-size: 1.125rem;
  }
}

.movie__card--hovered {
  filter: none;
  transform: translateY(-12px);
}
.movie__card--hovered .card__title {
  bottom: 50%;
}

.movies__button {
  color: #FFFFFF;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 2.625rem;
  transition: 0.5s ease-in-out;
  position: absolute;
}
.movies__button:hover {
  color: #A50034;
  transform: scale(1.1);
}

#arrowLeft {
  left: 1rem;
  top: 50%;
}

#arrowRight {
  right: 1rem;
  top: 50%;
}

.movies#avengers::before {
  background: url("../images/the-avengers-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4;
}

.movies#ageOfUltron::before {
  background: url("../images/age-of-ultron-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4;
}

.movies#infinityWar::before {
  background: url("../images/infinity-war-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4;
}

.movies#endgame::before {
  background: url("../images/endgame-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.4;
}

/*# sourceMappingURL=main.css.map */
