@use "../base/colors"as *;
@use "../base/typography"as *;
@use "../base/mixins"as *;

.header {
    @include font-primary();
    padding-top   : 1rem;
    padding-bottom: 1rem;
    position      : absolute;
    width         : 100%;
    z-index       : 999;

    &__container {
        @include flex(center, space-between);
    }

    &__brand {
        height: 50px;
        width : 50px;

        img {
            height    : 100%;
            object-fit: cover;
            width     : 100%;
        }
    }
}