@use "../base/mixins"as *;
@use "../base/colors"as *;
@use "../base/typography"as *;
@use "../global/responsive"as *;

.section {
    @include flex(end, center);
    flex-direction: column;
    width         : 100%;

    @include devices-large-screens {
        flex-direction: row;
    }

    &__description {
        max-width: 650px;
        padding  : 0 2%;
        position : relative;

        .section__title {
            color         : rgba(193, 39, 45, 0.4);
            font-size     : get-font-size(80);
            font-family   : Arial Black, sans-serif;
            font-weight   : 700;
            letter-spacing: 2px;
            line-height   : 80px;
            margin-bottom : 1rem;
            text-transform: uppercase;

            @include devices(m) {
                font-size  : get-font-size(50);
                line-height: 50px;
            }

            @include devices(xs) {
                font-size  : get-font-size(50);
                line-height: 50px;
            }
        }

        .section__subtitle {
            top           : 50%;
            font-family   : Arial Black, sans-serif;
            font-size     : get-font-size(24);
            font-weight   : 600;
            letter-spacing: 2px;
            position      : absolute;
            text-transform: uppercase;

            @include devices(m) {
                bottom   : 30px;
                font-size: get-font-size(20);
            }

            @include devices(xs) {
                bottom: 30px;
            }

            span {
                @include apply-color("red");
                font-size  : get-font-size(20);
                font-weight: 600;
            }
        }
    }
}