@use "../base/mixins"as *;
@use "../base/colors"as *;
@use "../base/typography"as *;
@use "../global/responsive"as *;

.movies {
    height    : 100%;
    position  : relative;
    transition: .5s ease-in-out;
    width     : 100%;

    &::before {
        @include bg-img("../images/home-bg.jpg");
        content   : "";
        height    : 100%;
        inset     : 0;
        opacity   : 0.2;
        position  : absolute;
        transition: opacity 1s ease-in-out, background-image .5s ease-in-out;
        width     : 100%;
    }
}